<div id="main">
  <div class="ym-wrapper">
    <section class="ym-grid linearize-level-1">
    <article class="ym-g99 ym-gl content">


    <h2>Registrierung</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "ym-form linearize-form ym-columnar"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="ym-fbox-text">
        <%= f.label :username %>
        <%= f.text_field :username %></div>
      
      <div class="ym-fbox-text">
        <%= f.label :email %>
        <%= f.email_field :email %></div>

      <div class="ym-fbox-text">
        <%= f.label :password %>
        <%= f.password_field :password %></div>

      <div class="ym-fbox-text">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Sign up", :class => "ym-button ym-add" %></div>
    <% end %>

    <%= render "devise/shared/links" %>

    </article>
    </section>
  </div>
</div>
