<div id="main">
  <div class="ym-wrapper">
    <section class="box info"><div class="ym-grid linearize-level-1"><%= image_tag "race-flags-small.png" %></div></section>
    <section class="ym-grid linearize-level-1">
    <article class="ym-g99 ym-gl content">
    <h1>Attachments</h1>

    <table class="bordertable">
      <tr>
        <th>Filename</th>
        <th>Path</th>
      </tr>
      <% @attachments.each do |attachment| %>
        <tr>
          <td><%= link_to attachment.filename, attachment %></td>
          <td><%= link_to attachment.path, attachment.path %></td>
          <td><%= link_to "remove", attachment_path(attachment), :method => :delete, :class => "ym-button ym-delete" %></td>
        </tr>
      <% end %>
    </table>

    <br />

    <%= link_to "neues File hochladen", new_attachment_path, :class => "ym-button ym-play" %>


    </article>
    </section>
  </div>
</div>

