<div id="main" class="ym-cbox">

  <h1>Benutzer</h1>

  <table class="bordertable">
    <thead>
      <tr>
        <th>Benutzername</td>
        <th>Email Adresse</td>
        <th>erstellt</td>
        <th>letzter Login</td>
        <th>Admin?</td>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= user.admin %></td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <div><%= link_to "Neuen Benutzer anlegen", new_user_path, :class => "ym-button" %></div>
</div>
