<div id="main">
  <div class="ym-wrapper">
    <section class="ym-grid linearize-level-1">
    <article class="ym-g99 ym-gl content">

    <h2>Passwort &auml;ndern</h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "ym-form linearize-form ym-columnar" }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="ym-fbox-text">
        <%= f.label :password, "Neues Passwort" %>
        <%= f.password_field :password %></div>

      <div class="ym-fbox-text">
        <%= f.label :password_confirmation, "Passwort bestätigen" %>
        <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Password ändern", :class => "ym-button ym-add" %></div>
    <% end %>

    <%= render "devise/shared/links" %>

    </article>
    </section>
  </div>
</div>
