<div class="fields">
  <div class="ym-fbox-text">
    <%= f.label :filename %><br />
    <%= f.file_field :filename %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.hidden_field :_destroy %>
    <%= link_to_function "Upload entfernen", "remove_fields(this)" %><br />
  </div>
</div>

