<%= form_for(@event, :html => { :class => "ym-form linearize-form ym-columnar"} ) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation" class="box error">
      <h2>Folgende Fehler verhindert das erfolgreiche Speichern des Events:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ym-grid">
    <div class="ym-g50 ym-gl">
      <div class="ym-gbox">
        <div class="ym-fbox-text">
          <%= f.label "Titel" %>
          <%= f.text_field :title %>
        </div>
        <div class="ym-fbox-text">
          <%= f.label "Ort der Veranstaltung" %>
          <%= f.text_field :location %>
        </div>
        <div class="ym-fbox-text">
          <%= f.label "Von" %>
          <%= f.text_field :startdate, :class => 'datepicker' %>
        </div>
        <div class="ym-fbox-text">
          <%= f.label "Bis" %>
          <%= f.text_field :enddate, :class => 'datepicker' %>
        </div>
        <div class="ym-fbox-select">
          <%= f.label "Beschreibung" %>
          <%= f.text_area :description, :rows => 5 %>
        </div>
      </div>
    </div>
    <div class="ym-g50 ym-gr">
      <div class="ym-gbox">
        <div>
        </div>
      </div>
    </div>
  </div>
  <div class="ym-fbox-button">
    <%= f.submit "Termin speichern", :class => "ym-button ym-add" %>
  </div>
<% end %>
