<h1>Termine</h1>

<table>
  <tr>
    <th>Titel</th>
    <th>Von</th>
    <th>Bis</th>
    <th>Beschreibung</th>
    <th><b>Nennliste</b></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= event.startdate %></td>
    <td><%= event.enddate %></td>
    <td><%= event.description %></td>
    <td><center><%= link_to event.subscribers.size %></center></td>
    <td><%= link_to 'Bearbeiten', edit_event_path(event) %></td>
    <td><%= link_to 'Löschen', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'in Startliste eintragen', new_event_subscriber_path(event) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuer Termin', new_event_path %>
