<div id="main" class="ym-cbox">

  <h1>Termine</h1>

  <table class="bordertable" id="events">
    <tr>
      <th><%= sortable "Datum", :startdate %></th>
      <th><%= sortable "Event", :title %></th>
      <th><%= sortable "Ort", :location %></th>
    </tr>

    <% @events.each do |event| %>
      <tr class="clickable">
        <td><%= event.startdate.strftime('%d.%m.%Y') unless event.startdate.nil? %></td>
        <td style="font-weight: bolder;"><%= event.title %></td>
        <td><%= event.location %></td>
      </tr>
      <tr style="display:none" class="description">
        <td colspan="3">
          <%= render :partial => 'user_show', :locals => { :event => event} %>
          <div>
            <%= render :partial => 'links', :locals => { :event => event } %>
            <%= link_to 'Anzeigen', event_path(event), :class => "ym-button ym-play" %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>

  <br />

  <%- if current_user.try(:admin?) %><p><%= link_to 'Neuer Termin', new_event_path, :class => "ym-button ym-add" %></p><%- end %>
</div>
