<h1>Termine</h1>

<table class="bordertable" id="events">
  <tr>
    <th><%= sortable "Datum", :startdate %></th>
    <th><%= sortable "Event", :title %></th>
    <th><%= sortable "Ort", :location %></th>
  </tr>

  <% @events.each do |event| %>
    <tr class="clickable">
      <td><%= event.startdate.strftime('%d.%m.%Y') unless event.startdate.nil? %></td>
      <td style="font-weight: bolder;"><%= link_to event.title, event %></td>
      <td><%= event.location %></td>
    </tr>
    <tr style="display:none" class="description">
      <td colspan="3">
        <div><%= event.description %></div>
        <div><%- if current_user.try(:admin?) %><%= link_to 'Bearbeiten', edit_event_path(event), :class => "ym-button ym-edit" %><%- end %>
          <%- if current_user.try(:admin?) %><%= link_to 'Löschen', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ym-button ym-delete" %><%- end %>
          <b><%= link_to 'in Nennliste eintragen', new_event_subscriber_path(event), :class => "ym-button" %></b>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%- if current_user.try(:admin?) %><p><%= link_to 'Neuer Termin', new_event_path, :class => "ym-button ym-add" %></p><%- end %>
