<div id="main">
  <div class="ym-wrapper">
    <section class="box info"><div class="ym-grid linearize-level-1">
      <%= image_tag "race-flags-small.png" %>
      Derzeit sind <%= @event.subscribers.size  %> Teilnehmer auf der Nennliste. <%- if current_user %><%= link_to "Export CSV", event_subscribers_path(@event, :format => 'csv'), :class => "ym-button ym-next" %><%- end %>
    </div></section>
    <section>
    <article class="content">

    <h1><%= @event.title %></h1>
    <h2><b>Von:</b>&nbsp;<%= @event.startdate %>&nbsp;<b>Bis:</b>&nbsp;<%= @event.enddate %></h2>

    <div><b>Beschreibung:</b><br />
      <%= @event.description %>
    </div>

    <div><b>Anhänge</b><br />
      <% @event.file_uploads.each do |file_upload| -%>
        <div><%= file_upload.title %></div>
        <div><%= image_tag file_upload.path %></div>
        <div><%= link_to file_upload.file, file_upload.path %></div>
        <div><%= file_upload.description %></div>
      <% end -%>
    </div>

    <div><b><%= link_to 'Nennliste anzeigen', event_subscribers_path(@event, @subscribers), :class => "ym-button ym-play" %></b></div>


    <div>
      <%- if current_user.try(:admin) %><%= link_to 'Bearbeiten', edit_event_path(@event), :class => "ym-button" %><%- end %>
      <%= link_to 'Zurück zur Übersicht', events_path, :class => "ym-button" %>
    </div>

    </article>
    </section>
  </div>
</div>

