<div id="main" class="ym-cbox">
  <div class="ym-wrapper">
    <section class="box info"><div class="ym-grid linearize-level-1">
      <%= image_tag "race-flags-small.png" %>
      Derzeit sind <%= @event.subscribers.size  %> Teilnehmer auf der Nennliste. <%- if current_user %><%= link_to "Export CSV", event_subscribers_path(@event, :format => 'csv'), :class => "ym-button ym-next" %><%- end %>
    </div></section>
    <section>
    <article class="event-show">

    <%= render 'event-show', :object => @event  %>

    <div>
      <% unless @event.enddate.past? -%><%= link_to 'in Nennliste eintragen', new_event_subscriber_path(@event), :class => "ym-button" %><% end -%>
      <%- if current_user.try(:admin) %><%= link_to 'Bearbeiten', edit_event_path(@event), :class => "ym-button" %><%- end %>
      <%= link_to 'Zurück zur Übersicht', events_path, :class => "ym-button" %>
    </div>

    </article>
    </section>
  </div>
</div>

