<p id="notice"><%= notice %></p>

<h1><%= @event.title %></h1>
<h2><b>Von:</b>&nbsp;<%= @event.startdate %>&nbsp;<b>Bis:</b>&nbsp;<%= @event.enddate %></h2>

<p>
  <b>Beschreibung:</b>
  <%= @event.description %>
</p>

<% if @event.subscribers -%>
  <p><b>Nennliste:</b></p>
  <ol>
  <% @event.subscribers.each do |subscriber| -%>
    <li><%= subscriber.firstname %> <%= subscriber.lastname %> (<%= subscriber.grade %>)
    <%= link_to "Bearbeiten", edit_event_subscriber_path(@event, subscriber) %>
    </li>
  <% end -%>
  </ol>
<% end -%>

<%= link_to 'In Nennliste eintragen', new_event_subscriber_path(@event) %> |
<%= link_to 'Nennliste bearbeiten', event_subscribers_path(@event) %><br />

<%= link_to 'Bearbeiten', edit_event_path(@event) %> |
<%= link_to 'Zurück', events_path %>
