<p id="notice"><%= notice %></p>

<p>
  <b>Startdate:</b>
  <%= @event.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @event.enddate %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
