<%= form_for([@event, @subscriber], :class => "ym-form linearize-form ym-columnar") do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation" class="box error">
      <h2>Folgende Fehler verhindert das erfolgreiche Speichern des Eintrags:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ym-fbox-text">
    <%= f.label "Vorname" %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label "Nachname" %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label "Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label "Klasse" %><br />
    <%= f.select :grade, ["Rookie Challenge", "Shortcourse Challenge", "2WD Challenge", "4WD Challenge"], { :include_blank => false } %>
  </div>
  <div class="ym-fbox-button">
    <%= f.submit "Eintrag speichern" %>
  </div>
<% end %>
