<%= form_for([@event, @subscriber], :html => { :class => "ym-form linearize-form" } ) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation" class="box error">
      <h2>Folgende Fehler verhindert das erfolgreiche Speichern des Eintrags:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ym-fbox-text">
    <%= f.label "Vorname" %>
    <%= f.text_field :firstname %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label "Nachname" %>
    <%= f.text_field :lastname %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label "Email" %>
    <%= f.text_field :email, :value => current_user.email, :readonly => true %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label "Klasse" %>
    <%= f.select :grade, ["Rookie Challenge", "Shortcourse Challenge", "2WD Challenge", "4WD Challenge"], { :include_blank => false } %>
  </div>
  <div class="ym-fbox-button">
    <%= f.submit "Eintrag speichern", :class => "ym-button ym-add" %>
  </div>
<% end %>
