<h1>Nennliste</h1>
<h2><%= @event.title %></h2>

<table id="subscribers">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Email</th>
      <th>Termin</th>
      <th>Klasse</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @subscribers.each do |subscriber| %>
  </tbody>
    <tr>
      <td><%= subscriber.firstname %></td>
      <td><%= subscriber.lastname %></td>
      <td><%= subscriber.email %></td>
      <td><%= subscriber.event_id %></td>
      <td><%= subscriber.grade %></td>
      <td><%= link_to 'Show', event_subscriber_path(@event, subscriber) %></td>
      <td><%= link_to 'Edit', edit_event_subscriber_path(@event, subscriber) %></td>
      <td><%= link_to 'Destroy', [@event, subscriber], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<p><%= link_to 'In Nennliste eintragen', new_event_subscriber_path(@event) %></p>
