<div id="main">
  <div class="ym-wrapper">
    <section class="box info"><div class="ym-grid linearize-level-1">
      <%= image_tag "race-flags-small.png" %>
      Derzeit sind <%= @event.subscribers.size  %> Teilnehmer auf der Nennliste. <%= link_to "Export CSV", event_subscribers_path(@event, :format => 'csv'), :class => "ym-button ym-next" %>
    </div></section>
    <section>
    <article class="content">

    <h1>Nennliste</h1>
    <h2><%= @event.title %></h2>

    <table class="bordertable">
      <thead>
        <tr>
          <th><%= sortable "Vorname", :firstname %>
          <th><%= sortable "Nachname", :lastname %>
          <th><%= sortable "Klasse", :grade %>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <% @subscribers.each do |subscriber| %>
      </tbody>
      <tr>
        <td><%= subscriber.firstname %></td>
        <td><%= subscriber.lastname %></td>
        <td><%= subscriber.grade %></td>
        <td><%= link_to 'Show', event_subscriber_path(@event, subscriber), :class => "ym-button ym-play" %></td>
        <td><%= link_to 'Edit', edit_event_subscriber_path(@event, subscriber), :class => "ym-button ym-edit" %></td>
        <td><%= link_to 'Destroy', [@event, subscriber], method: :delete, data: { confirm: 'Are you sure?' }, :class => "ym-button ym-delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<div class="float-right">
  <%= paginate @subscribers %>
</div>
<div class="ym-clearfix"></div>

<p><%= link_to 'In Nennliste eintragen', new_event_subscriber_path(@event), :class => "ym-button ym-add" %>
<%= link_to 'Zurück zu den Rennen', events_path, :class => "ym-button" %></p>

</article>
</section>
  </div>
</div>

