<p id="notice"><%= notice %></p>

<p>
  <b>Vorname:</b>
  <%= @subscriber.firstname %>
</p>

<p>
  <b>Nachname:</b>
  <%= @subscriber.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @subscriber.email %>
</p>

<p>

<p>
  <b>Klasse:</b>
  <%= @subscriber.grade %>
</p>

<p>
<%= link_to 'Bearbeiten', edit_event_subscriber_path(@event) %> |
<%= link_to 'Zurück zur Übersicht', event_subscribers_path(@event) %>
</p>
