<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @subscriber.name %>
</p>

<p>
  <b>Firstname:</b>
  <%= @subscriber.firstname %>
</p>

<p>
  <b>Email:</b>
  <%= @subscriber.email %>
</p>

<p>
  <b>Association:</b>
  <%= @subscriber.association %>
</p>

<p>
  <b>Event:</b>
  <%= @subscriber.event_id %>
</p>

<p>
  <b>Grade:</b>
  <%= @subscriber.grade_id %>
</p>


<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>
