<div id="main" class="ym-cbox">

  <h1>Benutzer &Uuml;bersicht</h1>

  <table class="sortable">
    <thead>
      <tr>
        <th><%= sortable "username", "Benutzername" %></td>
        <th><%= sortable "email", "Email Adresse" %></td>
        <th><%= sortable "created_at", "erstellt" %></td>
        <th><%= sortable "last_sign_in_at", "letzter Login" %></td>
        <th><%= sortable "admin", "Admin?" %></td>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= user.admin %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
