<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">

    <title>Racing-Center Leipzig</title>

    <!-- mobile viewport optimisation -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lte IE 7]>
    <link rel="stylesheet" href="/stylesheets/yaml/core/iehacks.min.css" type="text/css"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div>
      <%= image_tag "beta_badge.png", :alt => 'beta-badge', :id => 'beta-badge' %>
    </div>

    <header>
    </header>


    <nav class="ym-vlist">
    <ul>
      <li><%= link_to "Home", :root %></li>
      <li><%= link_to "Strecke", url_for(:controller => :home, :action => :course) %></li>
      <li><%= link_to "Termine", :events %></li>
      <li><%= link_to "Recorde", url_for(:controller => :home, :action => :recorde) %></li>
      <li><%= link_to "Anreise", url_for(:controller => :home, :action => :arrival) %></li>
      <li><%= link_to "Kontakt", url_for(:controller => :home, :action => :contact) %></li>
      <li><%= link_to "Über uns", url_for(:controller => :home, :action => :about) %></li>
      <li><a href="http://www.xn--modellbauldchen-9kb.de/modellbau/">Shop</a></li>
      <li><a href="http://www.broemme-racing.de/">Galerie</a></li>
    </ul>
    </nav>


    <div id="main">
    </div>

    <footer>
    </footer>

  </html>
