<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">

    <title>Racing-Center Leipzig</title>

    <!-- mobile viewport optimisation -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lte IE 7]>
    <link rel="stylesheet" href="/stylesheets/yaml/core/iehacks.min.css" type="text/css"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
    <div class="ym-wrapper">
      <div class="ym-wbox">
        <div id="user_nav" class="ym-gr">  
          <% if user_signed_in? %>  
            <p>Angemeldet als <%= (current_user.username.empty?) ? current_user.email : current_user.username %>. Das bist du nicht?  
            <%= link_to "Abmelden", destroy_user_session_path, :method => :delete %>  </p>
            <%- if current_user.try(:admin) %><%= link_to "Benutzerverwaltung", users_path %></p><%- end %>
          <% else %>  
            <%= link_to "Registieren", new_user_registration_path %> or  
            <%= link_to "Anmelden", new_user_session_path %>  
          <% end %>  
        </div> 

        <h1><span>RC-Leipzig.com</span></h1>
      </div>
    </div>
    </header>

    <div id="main">
      <div class="ym-wrapper">
        <div class="ym-wbox">
          <div class="ym-column">
            <div class="ym-col1">
              <div class="ym-cbox">
                <div id="contentdivwrapper"><div id="contentdiv" class="ym-gbox"><%= yield %></div></div>
              </div>
            </div>
            <div class="ym-col3">
              <div class="ym-cbox">
                <ul id="sitenavi">
                  <li class="<%= is_active?("index") %>"><div class="nav_menu"><%= link_to "Start", :root %></div></li>
                  <li class="<%= is_active?("course") %>"><div class="nav_menu"><%= link_to "Strecke", url_for(:controller => :home, :action => :course) %></div></li>
                  <li class="<%= is_active?("events") %>"><div class="nav_menu"><%= link_to "Termine", :events %></div></li>
                  <li class="<%= is_active?("recorde") %>"><div class="nav_menu"><%= link_to "Recorde", url_for(:controller => :home, :action => :recorde) %></div></li>
                  <li class="<%= is_active?("arrival") %>"><div class="nav_menu"><%= link_to "Anreise", url_for(:controller => :home, :action => :arrival) %></div></li>
                  <li class="<%= is_active?("contact") %>"><div class="nav_menu"><%= link_to "Kontakt", url_for(:controller => :home, :action => :contact) %></div></li>
                  <li class="<%= is_active?("about") %>"><div class="nav_menu"><%= link_to "Über uns", url_for(:controller => :home, :action => :about) %></div></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer role="contentinfo">
    <div class="ym-wrapper">
      <div class="ym-wbox">
      </div>
    </div>
    </footer>


    <div>
      <%= image_tag "beta_badge.png", :alt => 'beta-badge', :id => 'beta-badge' %>
    </div>
  </body>
</html>
