<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">

    <title>Racing-Center Leipzig</title>

    <!-- mobile viewport optimisation -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lte IE 7]>
    <link rel="stylesheet" href="/stylesheets/yaml/core/iehacks.min.css" type="text/css"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
    <div class="ym-wrapper">
      <div class="ym-cbox">
        <div id="user_nav" class="ym-gr">  
          <% if user_signed_in? %>  
            <p>Angemeldet als <%= (current_user.username.empty?) ? current_user.email : current_user.username %>. Das bist du nicht?<br /> 
            <%= link_to "Abmelden", destroy_user_session_path, :method => :delete %>| 
            <%= link_to "Benutzerprofil", edit_user_registration_path(current_user) %>  </p>
            <%- if current_user.try(:admin) %><%= link_to "Benutzerverwaltung", users_path %></p><%- end %>
          <% else %>  
            <%= link_to "Registieren", new_user_registration_path %> oder
            <%= link_to "Anmelden", new_user_session_path %>  
          <% end %>  
        </div> 

        <%= link_to render(:inline => '<h1><span>RC-Leipzig.com</span></h1>'), root_path %>

      </div>
    </div>
    </header>


    <div id="main">
      <div class="ym-wrapper">
        <div class="ym-wbox">
          <div class="ym-column">
            <div class="ym-col1">
              <div class="ym-cbox">
                <div id="contentdivwrapper" >
                  <% flash.each do |key, msg| %>
                    <%= content_tag :div, msg, :class => [key, "box error"], :id => "msgdiv" %>
                    <%= javascript_tag("$('#msgdiv').fadeOut(6000);")  %>
                  <% end %>
                  <div id="contentdiv">
                    <%= yield %>
                  </div>
                </div>
              </div>
            </div>
            <div class="ym-col3">
              <div class="ym-cbox">
                <div>
                  <ul id="sitenavi">
                    <li class="<%= is_active?("index") %>"><div class="nav_menu"><%= link_to "Start", :root %></div></li>
                    <li class="<%= is_active?("course") %>"><div class="nav_menu"><%= link_to "Strecke", url_for(:controller => :home, :action => :course) %></div></li>
                    <li class="<%= is_active?("events") %>"><div class="nav_menu"><%= link_to "Termine", :events %></div></li>
                    <li class="<%= is_active?("arrival") %>"><div class="nav_menu"><%= link_to "Anreise", url_for(:controller => :home, :action => :arrival) %></div></li>
                    <li class="<%= is_active?("contact") %>"><div class="nav_menu"><%= link_to "Kontakt", url_for(:controller => :home, :action => :contact) %></div></li>
                    <li class="<%= is_active?("about") %>"><div class="nav_menu"><%= link_to "Über uns", url_for(:controller => :home, :action => :about) %></div></li>
                  </ul>
                </div>
                <div>
                  <p style="text-align: right"><a href="https://www.facebook.com/#!/profile.php?id=100003102578130&sk=wall" target="_blank"><img src="/assets/f_logo-100x100.jpg" border="0"></a></p>
                  <p style="text-align: right"><a href="http://www.modellbaul&#228;dchen.de/modellbau/" target="_blank"><img src="/assets/Banner-Thomas4_2-100.png" border="0"></a></p>
                  <p style="text-align: right"><a href="http://www.bemme51.de" target="_blank"><img src="/assets/Logo3-www.png" border="0"></a></p>
                  <p style="text-align: right"><a href="http://www.modell-hobby-spiel.de/"><img src="/assets/0.gif" border="0"></a></p>
                  <p style="text-align: right"><a href="http://www.rcweb.de/forum/viewforum.php?f=195" target="_blank"><img src="/assets/rcweb_logon.png" border="0"></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer role="contentinfo">
    <div class="ym-wrapper">
      <div class="ym-wbox">
        <div class="ym-grid">
          <div class="ym-g66 ym-gl">
            <div class="ym-gbox">
              <p>&copy; 2012 Racing Center Leipzig</p>
            </div>
          </div>
          <div class="ym-33 ym-gr">
            <div class="ym-gbox">
              <div class="ym-gbox-right">
                <p>Layout based on <a href="http://www.yaml.de">YAML</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </footer>


    <div>
      <a href="https://github.com/zzeroo/rc-leipzig.com/commits/master"><%= image_tag "beta_badge.png", :alt => 'beta-badge', :id => 'beta-badge' %></a>
    </div>
  </body>
</html>
