<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">

  <title>RcLeipzigCom</title>

  <!-- mobile viewport optimisation -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag '/stylesheets/yaml/central.css', :media => 'screen' %>
  <!--[if lte IE 7]>
  <link rel="stylesheet" href="stylesheets/yaml/core/iehacks.min.css" type="text/css"/>
  <![endif]-->
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="ym-column">
    <div class="ym-col1">
      <div class="ym-cbox">
        <nav class="ym-vlist">
        <h6 class="ym-vtitle"><%= link_to (image_tag "logo_100.gif"), :root %></h6>
        <ul>
          <li><%= link_to "Home", :root %></li>
          <li><%= link_to "Strecke", url_for(:controller => :home, :action => :course) %></li>
          <li><%= link_to "Termine", :events %></li>
          <li><%= link_to "Recorde", url_for(:controller => :home, :action => :recorde) %></li>
          <li><%= link_to "Anreise", url_for(:controller => :home, :action => :arrival) %></li>
          <li><%= link_to "Kontakt", url_for(:controller => :home, :action => :contact) %></li>
          <li><%= link_to "Über Uns", url_for(:controller => :home, :action => :about) %></li>
          <li><a href="http://www.xn--modellbauldchen-9kb.de/modellbau/">Shop</a></li>
          <li><a href="http://www.broemme-racing.de/">Galerie</a></li>
        </ul>
        </nav>
      </div>
    </div>
    <div class="ym-col2">
      <div class="ym-cbox">
      </div>
    </div>
    <div class="ym-col3">
      <div class="ym-cbox ym-clearfix">
      <%= yield %>

      </div>
      <div class="ym-ie-clearing">&nbsp;</div>
    </div>
  </div>


</body>
</html>
